
body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  color: #000000;
  background: #dccb12;
}

h3 {
  text-align: center;
  color: #333333;
  background: greenyellow;
}


/* Navigation */
